<div class="container">

    <div class="col-md-12 left">

        <ul class="nav nav-tabs">
            <li class="active"><a class="tabovi" data-toggle="pill" ng-click="activetab = 1"> NARUDŽBA </a></li>
            <li><a class="tabovi" data-toggle="pill" ng-click="activetab = 2"> KAKO NARUČITI DOSTAVU? </a></li>
            <li><a class="tabovi" data-toggle="pill" href="/#register" ng-hide="authentication.isAuth"> REGISTRACIJA </a></li>
        </ul>
       
        <div class="tab-content">
            <div class="col-md-12" ng-hide="activetab == 2">


                <div class="container left" align="left" ng-hide="!authentication.isAuth">
                    <div class="col-md-12 restorani">
                        <div class="col-md-4 ">
                            <label>UPIŠITE SVOJU ADRESU</label>
                            <input placeholder="adresa" ng-model="address" class="form-control">
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="btn btn-success btn-block" ng-click="dodajAdresu()">POTRAŽI RESTORANE</button>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-3">
                            <button type="button" class="btn btn-success" ng-click="prikaziKartu()">PRIKAZ GOOGLE KARTE</button>
                        </div>


                    </div>


                    <div class="list-group row" ng-show="aktivno==1">
                        <div class="list-group-item col-md-12 head">
                            <div class="col-md-4">NAZIV: </div>
                            <div class="col-md-4"> ADRESA: </div>
                            <div class="col-md-2"> UDALJENOST (km): </div>
                        </div>

                        <div class="list-group-item col-md-10" ng-repeat="restoran in nadeniRestorani | filter:searchText ">
                            <div class="col-md-4"><a class="link" data-toggle="tab" href="/#restoran" ng-click="spremi_id(restoran.id)"> {{ restoran.naziv }} </a></div>
                            <div class="col-md-4">{{ restoran.adresa }}</div>
                            <div class="col-md-2">{{ dest_udalj[restoran.id] }}</div>
                        </div>
                    </div>
                    <div id="output" ng-hide="!authentication.isAuth" ng-show="aktivno==1"></div>
                    <div id="map" ng-hide="!authentication.isAuth" ng-show="aktivno==1"></div>
                </div>


                <div ng-show="aktivno==1" class="search" ng-hide="!authentication.isAuth">

                    <label class="link" ng-show="aktivno==1"> TRAŽILICA <input type="search" placeholder="pretraga..." ng-model="searchText" /></label>
                   

                    
                </div>

                <div class="col-md-12 container lista_rest" align="center" ng-hide="authentication.isAuth">

                    <div class="list-group row">
                        <div class="list-group-item col-md-10">
                            <div class="col-md-6">NAZIV: </div>
                            <div class="col-md-6"> ADRESA: </div>
                        </div>

                        <div class="list-group-item col-md-10" ng-repeat="item in restorani | limitTo: restorani.length : restorani.length /2">
                            <div class="col-md-6">{{item.naziv}}</div>
                            <div class="col-md-6"> {{item.adresa}} </div>
                        </div>
                    </div>

                </div>
            </div>




            <div class="col-md-8" align="center" ng-show="activetab == 2">
                <div class="container tabovi" align="left">
                    bla

                </div>
            </div>
        </div>




    </div>
</div>

