<div class="container">

    <div class="col-md-12 left">
        <div class="col-md-12">
            <div class="container left" align="left" ng-hide="authentication.ovlastID !=2">
                <div class="botuni">
                    <div class="col-md-10">
                        <label> UPIŠITE SVOJU ADRESU </label>
                        <input placeholder="adresa" ng-model="address" class="form-control"/>
                    </div>

                    <div class="dugmici">
                        <div class="col-md-5">
                            <button type="button" class="btn btn-info btn-block" ng-click="dodajAdresu()">POTRAŽI RESTORANE</button>
                        </div>

                        <div class="col-md-3">
                            <button type="button" class="btn btn-info" ng-click="prikaziKartu()">PRIKAZ GOOGLE KARTE</button>
                        </div>
                    </div>
                </div>
     
                <table class="col-md-6 table table-bordered table-condensed pretraga" ng-show="aktivno==1">
                    <tr>
                        <td>Pretraži po:</td>
                        <td>
                            <select ng-model="SelectedCriteria" ng-options="kljuc for kljuc in kljucevi"><option style="display:none" value="">odaberite tip pretrage</option></select>
                        </td>
                        <td>Unesite predmet pretrage:</td>
                        <td>
                            <input type="text" ng-model="filterValue" class="form-control" ng-change="getFilteredData()"  placeholder="Pretraži....."/>
                        </td>
                    </tr>
                </table>

                <table class="table table-hover table-bordered tablica" ng-show="aktivno==1">
                    <tr class="well">
                        <th>NAZIV</th>
                        <th>ADRESA</th>
                        <th>UDALJENOST DO RESTORANA (km)</th>
                        <th>RADNO VRIJEME</th>
                    </tr>
                    
                    <tr ng-repeat="restoran in nadeno">

                        <td class="col-md-2">
                            <a class="link" data-toggle="tab" href="/#restoran" ng-click="spremi_id(restoran.id)">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading panel-title">
                                            {{restoran.naziv}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class="col-sm-1"> {{restoran.adresa}}</td>
                        <td class="col-xs-1"> {{ dest_udalj[restoran.id] }} </td>
                        <td class="col-sm-1">{{ restoran.vrijeme_otvaranja }} h - {{restoran.vrijeme_zatvaranja}} h</td>


                    </tr>


                </table>

                <div>
                    <div id="output"  ng-show="aktivno==1"></div>
                    <div id="map"  ng-show="aktivno==1"></div>
                </div>

            </div>

            <div class="container-fluid" ng-hide="authentication.ovlastID == 2">

                <div class="row">
                    <div class="row">

                        <div class="col-md-8">
                            <!-- Controls -->

                            <div class="controls pull-right hidden-xs">
                                <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                                   data-slide="prev">PREV</a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                                                                data-slide="next">NEXT</a>
                            </div>

                        </div>
                    </div>


                    <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3" ng-repeat="rest in restorani" ng-if="($index < 4)">
                                        <div class="col-item">
                                            <div class="photo">

                                                <a class="link" data-toggle="tab" href="/#restoran" ng-click="spremi_id(rest.id)">  <img ng-src="{{slides[$index].image}}" class="img-responsive" alt="a" /></a>
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-6">
                                                        <h5>
                                                            {{ rest.naziv }}
                                                        </h5>
                                                        <h5 class="price-text-color">
                                                            {{rest.adresa}}
                                                        </h5>
                                                    </div>

                                                </div>

                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3" ng-repeat="rest in restorani" ng-if="( ($index >= 4) && ($index < 8))">
                                        <div class="col-item">
                                            <div class="photo">
                                                <a class="link" data-toggle="tab" href="/#restoran" ng-click="spremi_id(rest.id)">  <img ng-src="{{slides[$index].image}}" class="img-responsive" alt="a" /></a>
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-6">
                                                        <h5>
                                                            {{rest.naziv}}
                                                        </h5>
                                                        <h5 class="price-text-color">
                                                            {{rest.adresa}}
                                                        </h5>
                                                    </div>

                                                </div>

                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3" ng-repeat="rest in restorani" ng-if="( ($index >= 8) && ($index < 12))">
                                        <div class="col-item">
                                            <div class="photo">
                                                <a class="link" data-toggle="tab" href="/#restoran" ng-click="spremi_id(rest.id)">  <img ng-src="{{slides[$index].image}}" class="img-responsive" alt="a" /></a>
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-6">
                                                        <h5>
                                                            {{rest.naziv}}
                                                        </h5>
                                                        <h5 class="price-text-color">
                                                            {{rest.adresa}}
                                                        </h5>
                                                    </div>

                                                </div>

                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12 navbar-fixed-top" id="section" ng-hide="authentication.isAuth"></div>
        </div>

    </div>
</div>