<div class="container">
<table class="table table-hover table-bordered">
    <tr class="well">
        <th>Detalji narudžbe</th>
        <th>Restoran</th>
 
    </tr>

    <tr ng-repeat="narudzba in narudzbe">

        <td class="col-md-1">
            <div class="panel-group panel panel-default">
                <div class="panel-heading panel-title">
                    <strong>NARUDŽBA BROJ {{$index+1}}.</strong> <br />
                   <strong> VRIJEME NARUDŽBE: </strong> <br />  {{narudzba[0][0][3]}}:{{narudzba[0][0][4]}}:{{narudzba[0][0][5]}}, {{narudzba[0][0][2]}}.{{narudzba[0][0][1]}}.{{narudzba[0][0][0]}}
                </div>
                <div ng-repeat="jelo in narudzba">
                    
                    <div class="panel">
                        <div class="panel-body">
                            <div>JELO:<br /> {{jelo[2]}}, {{narudzba[$index][4]}} porcija/e, {{jelo[3]/jelo[4]}} kn po porciji  </div>
               
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div><strong> UKUPNA CIJENA: </strong><br /> {{narudzba[$index][8]}} kn</div>
                </div>
               
            </div>

        </td>
        <td class="col-xs-1">
            <div class="panel-group panel panel-default">
                <div class="panel-heading panel-title">
                   <strong> {{restoran[$index][0].naziv}} </strong> <br/>
                    <div><strong> ADRESA RESTORANA: </strong><br /> {{restoran[$index][0].adresa}}</div>
                </div>

            </div> 
        </td>
    
    </tr>


</table>


    <fieldset class="registracija">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Ime</label>
            <div class="col-sm-7">
                <input type="text" class="form-control input-lg" id="name" placeholder="Ime" ng-model="ime" />

            </div>
        </div>

        <div class="form-group">
            <label for="surname" class="col-sm-3 control-label">Prezime</label>
            <div class="col-sm-7">
                <input type="text" class="form-control input-lg" id="surname" placeholder="Prezime" ng-model="prezime" />

            </div>
        </div>

        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Korisničko ime</label>
            <div class="col-sm-7">
                <input type="text" class="form-control input-lg" id="username" placeholder="Korisničko ime" ng-model="username" />

            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">E-mail</label>
            <div class="col-sm-7">
                <input type="email" class="form-control input-lg" id="email" placeholder="E-mail" ng-model="email" />

            </div>
        </div>

    </fieldset>


</div>