<div class="container">
    <div ng-show="primljeno==1" class="alert alert-success fade in col-md-10">
        <a class="close" aria-label="close" ng-click="reset()">&times;</a>
        <strong>Uspješno zaprimljena narudžba!</strong> Uskoro ćete dobiti potvrdu restorana na Vašu e-mail adresu!
    </div>

    <div  ng-show="prikazi==1" class="alert alert-success fade in col-md-10">
        <a class="close" aria-label="close" ng-click="reset()">&times;</a>
        <strong>Prijavite se!</strong> Prije obavljanja narudžbe obavite prijavu/registraciju.
    </div>
    <div class="container col-md-12">
       
        <div class="col-md-8">
           
            <div class="col-md-12 podaci_rest">
                <label  align="center"  class="ime col-md-10 ">{{restoran[0].naziv}}</label>
                <br />
                <label  align="center"  class="adresa_vrijeme col-md-10 ">{{restoran[0].adresa}}</label>
                <br />
                <label class="col-md-10 adresa_vrijeme" align="center" ng-hide="otvoren == 0"> RESTORAN JE OTVOREN ({{restoran[0].vrijeme_otvaranja}} - {{ restoran[0].vrijeme_zatvaranja}})</label>
                <label class="col-md-10 adresa_vrijeme" align="center" ng-hide="otvoren == 1"> RESTORAN JE ZATVOREN ({{restoran[0].vrijeme_otvaranja}} - {{ restoran[0].vrijeme_zatvaranja}})</label>


            </div>

            <div class="kosarica">
             
                <div class="col-md-6 podaci_kosarica">
                    VAŠA KOŠARICA

                    <table class="table table-condensed ">
                        <tr class="well">
                            <th>Naručena jela</th>
                            <th>Cijena narudžbe</th>
                            <th>Ukloni iz košarice</th>
                        </tr>


                        <tr ng-hide="prazna_kosarica == 0" ng-repeat="jelo in jela">
                            <td ng-hide="kosarica[jelo.id][0] == null">{{kosarica[jelo.id][0]}} </td>
                            <td ng-hide="kosarica[jelo.id][1] == null"> {{kosarica[jelo.id][1]}} kn </td>
                            <td ng-hide="klik[jelo.id] == null"><button class="col-md-12 btn btn-info" ng-disabled="uklanjanje == 1" ng-click="removeItem($index,jelo.id, jelo.naziv_jelo, jelo.cijena, 1)"> ukloni iz košarice ({{kosarica[jelo.id][2]}}) </button></td>
                        </tr>
                        <tr>
                            <td>UKUPNO</td>
                            <td>{{ukupna_cijena}} kn</td>
                            <td>{{ukupna_kolicina}} porcija/e </td>

                        </tr>
                    </table>
                </div>  
                <div ng-hide="!authentication.isAuth" class="col-md-10">
                    <button class="col-md-10 btn btn-info potvrdi" ng-click="potvrdi_narudzbu()"> potvrdi narudžbu </button>
                    <input type="email" class="form-control input-lg mail" id="email" placeholder="E-mail" ng-model="email" />

                </div>
                
                
             </div>
            
            
            
        </div>


        <div class="container col-md-4 ">

            <label class="col-md-12 trazi"> TRAŽILICA <input type="search" class="form-control" placeholder="pretraga..." ng-model="search" /></label>

            <table class="table table-hover table-bordered jela">
                <tr class="well">
                    <th>Jelo</th>
                    <th>Detalji jela</th>
                    <th>Cijena jela</th>
                    <th> Stavi u moju košaricu</th>
                </tr>

                <tr ng-repeat="jelo in jela | orderBy: jelo.tipJelaID | filter:search">

                    <td class="col-md-1">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-title">
                                    {{jelo.naziv_jelo}}
                                </div>
                                <div class="panel">
                                    <div class="panel-body">
                                        <div>KATEGORIJA JELA: <br /> {{tip[jelo.tipJelaID]}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td class="col-sm-1"> {{jelo.kratki_opis}}</td>
                    <td class="col-xs-1"> {{jelo.cijena}} kn </td>
                    <td class="col-xs-2">
                        <button class="col-md-9 btn btn-info" ng-disabled="uklanjanje == 1" ng-click="addItem($index,jelo.id, jelo.naziv_jelo, jelo.cijena, 1)"> stavi u košaricu </button>

                    </td>


                </tr>


            </table>

        </div>
    </div>
 
</div>









