body {
    background-size: 100%;
    width:100%;
    height:100%;
    background-repeat: repeat;
    padding-top: 50px;
    overflow:scroll;
    background-image:url("/images/pozadina_katarina.png");
    min-height: 100%;
    min-width: 1024px;
    opacity: 1.0;
    filter: alpha(opacity=10);

}



.right {
  
    width: 800px;
    float: right;
    height: 70px;
}


#map {
    position: relative;
    top:0;
    left:0;
    float:left;
    bottom:0;
    width: 450px;
    height: 450px;
    margin-top: -10px;
    margin-left:-120px;
    
   
}

.search {

    position: absolute;
    height:700px;
    width:300px;
    float:right;
    margin-top: -300px;
    margin-left: 860px;
    color:darkred;
    font-size:18px;
}



.navbar {
    
    background-color:transparent;
    border-bottom-color:transparent;

}



.navbar-right {
    margin-right: 0px;
    border: 0;
    font-size: 18px;
}

.navbar-nav {
    font-size:28px;
   
}

.nav.navbar-nav li a {
    color: darkred;
}

.korisnik {
    color:darkred;

}


.link {
    color:darkred;

}
.lista_rest {
    color:darkred;
    width:900px;
    font-size:18px;
    margin-top: 80px;
    margin-left: 60px;
    float:left;
    padding-top:220px;
}


.list-group-item
{
  overflow:hidden;  
  position: relative;
  display: block;
  padding: 10px 20px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}



.jedno_jelo {
    color:darkred;
    font-size: 16px;

}


.trazi {

    margin-top:80px;
    width:800px;
    margin-left:-315px;
}
.jela {

    margin-top: 80px;
    width:700px;
    margin-left:-300px;
    margin-bottom:50px;
}


.kosarica {

    margin-top: 350px;
    width:400px;
    margin-left:-30px;
    margin-bottom:50px;

}

.alert {
    width:380px;
    margin-top:20px;
    margin-bottom:5px;
}
.dugmici {
    padding-top:80px

}

.botuni {
    height:150px;
    width:605px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
    color: darkred;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 225px;

}


.head {
    color:darkred;
    font-size:18px;
    width:800px;

}


.tablica {

    width:800px;
    position:relative;
    float:right;
    margin-top: -10px;
    margin-right: -20px;
}


.tablica_voditelj {

    width:700px;
    position:relative;
    margin-left: -130px;



}

.pretraga {
    float:right;
    height:80px;
    width:800px;

}

.restorani {
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
    color: darkred;
    margin-top: 25px;
    margin-bottom: 25px;

}

.podaci_rest_vod {
  
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
    color: black;
    width:330px;
    margin-top:30px;
    padding-top: 10px;
    background-color:white;
}

.podaci_rest {

    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
    color: black;
    width:330px;
    margin-top:100px;
    padding-top: 10px;
    background-color:white;
  
}

.potvrdi {

    margin-left:-15px;
    width:380px;

}

.podaci_kosarica {

    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
    color: black;
    width:380px;
    padding-top: 10px;
    background-color:white;
  
}

.ime {

font-size:30px;
font-family:Britannic;
}

.adresa_vrijeme {

font-size:20px;
font-family:Britannic;
}
#section {
    position:relative;
    line-height:30px;
    background-color:#eeeeee;
    height:225px;
    width:1220px;
    margin-left: -90px;
    margin-right: 0px;
    margin-top: -90px;
    background-image: url("/images/katarina_a.png");
    background-size: 100%;
    background-repeat: no-repeat;

   
  
}

.voditelj {

    padding-top:50px;
}

.registracija {
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px;
    color: black;
}




.btn-success {
    width:100px;
    height:33px;
    margin-left:-320px;
    margin-bottom:20px;
    background-color:orange;

}

.container-fluid {
    margin-left:-80px;
    margin-top:-10px;
    width:1200px;

}

.content {
    margin: 15px;
}


.left button {
    font-size: 18px;
}


img {
    -webkit-filter: brightness(100%);
}

ul {
    float: left;
    margin: 0 5px;
}


tbody{
    background-color: rgba(255,255,255,0.6)!important;
}


.carousel{
    width:1200px;
    height:400px;

}



.carousel-inner .item {

min-height: 300px;
-webkit-transition: 0.8s;
-moz-transition: 0.8s;
 -o-transition: 0.8s;
 transition: 0.8s;
}



@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 300px;
    height:200px;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
    height:70px;
   
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}




.clear-left {
    clear: left;
}

.controls {
    margin-top: 20px;
   
}
[data-slide="prev"] {
    margin-right: 10px;
}



.styled-select select {
   background: white;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; 
   width: 330px;
   
}


.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   font-family: Britannic;
   height: 34px;
   width: 330px;

}

.slate {
    padding-bottom:20px;

}

.mail{
    margin-left: -15px;
    width:380px;
}